body {
    margin: 10px;
    max-width: 100%;
    overflow: hidden;
}

.line-break {
    width: 100%;
}

.data-table td {
    padding: 4px !important;
    height: 30px !important;
    font-family: Tahoma !important;
    font-size: 16px !important;
}

.data-table {
    margin: 10px;
}

.wrapper {
    color: #444;
    /* Use flexbox */
    display: flex;
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
}

.box {
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    /* padding: 20px; */
    font-size: 150%;
    /* Use box-sizing so that element's outerwidth will match width property */
    box-sizing: border-box;
    /* Allow box to grow and shrink, and ensure they are all equally sized */
    flex: 1 1 auto;
}

.scrollbar {
    right: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.handler {
    width: 10px;
    padding: 0;
    cursor: col-resize;
    flex: 0 0 auto;
}

.handler::before {
    content: '';
    display: block;
    height: 100%;
    margin: 0 auto;
}

#myiframe {
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}