.loading-container {
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

.loading-panel {
    background-color: rgba(0, 0, 0, 0.6);
    width: 160px;
    height: 170px;
    border-radius: 15%
}

.loading-icon {
    width: 70px;
    height: 70px
}

.loading-spinner {
    border: 8px solid transparent;
    border-top: 8px solid #f3f3f3;
    border-bottom: 8px solid #f3f3f3;
    border-radius: 50%;
    animation: spin 1.2s linear infinite
}

.loading-text {
    font-size: 1.4em;
    padding-top: 22px
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}